<html ng-app="trewbrews">
  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body ng-cloak>
      <div class="header">
      </div>
      <div class="main" ng-controller="calculator">
          <div class="title-container">
              <div class="text-header the-header">
                <span>The</span>
              </div>
              <div class="text-header brewshop-header">
                <span>BREW SHOP</span>
              </div>
              <div class="bc-ruler">
              </div>
              <div class="text-header sofia-header">
                <span>Sofia</span>
              </div>
          </div>
          <div class="batch-container">
            <span class="calculator-text">Let's make a </span>
            <input class="form-control bc-input-small" ng-model="size" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/" name="size"/>
            <span class="calculator-text"> litres batch of </span>
            <select class="form-control bc-input" ng-model="style" name="style">
              {{#each styles}}
                <option value="{{data}}">{{name}}</option>
              {{/each}}
            </select>
          <!--
              <div class="form-group">
                  <label>Style</label>
                  <select class="form-control" ng-model="style" name="style">
                    {{#each styles}}
                      <option value="{{data}}">{{name}}</option>
                    {{/each}}
                  </select>
              </div>

              <div class="form-group">
                  <label>Boil size (liters)</label>
                  <input class="form-control" ng-model="boilsize" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/" name="boilsize"/>
              </div>

              <div class="form-group">
                  <label>Batch size (liters)</label>
                  <input class="form-control" ng-model="size" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/" name="size"/>
              </div>

              <div class="form-group">
                  <label>Boil time (minutes)</label>
                  <input class="form-control" ng-model="time" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/" name="time"/>
              </div>

              <div class="form-group">
                  <label>Brewhouse efficiency (%)</label>
                  <input class="form-control" ng-model="efficiency" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/" name="efficiency"/>
              </div>
          -->
          </div>
          <div class="calculator-container">
            <div class="calculator">
              <div class="ingredient-container form-group col-md-3">
                  <div class="ingredient">
                      <label class="calculator-text">Fermentables</label>
                      <br>
                      <div ng-repeat="fermentable in fermentablesarr">
                        <input class="form-control bc-input-small" ng-model="fermentable.size" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
                        <span>kg</span>
                        <select class="form-control bc-input-small" ng-model="fermentable.fermentable">
                          {{#each fermentables}}
                            <option value="{{data}}">{{name}}</option>
                          {{/each}}
                        </select>
                        <i ng-click="deleteFermentable($index);" class="btn delete-button fa fa-times"></i>
                      </div>
                      <br>
                      <button class="btn button-default" type="button" ng-click="addFermentable();">ADD</button>
                      <i class="info fa fa-2x fa-info-circle"></i>
                      <span class="equation-text">+</span>
                  </div>
              </div>
              <div class="ingredient-container form-group col-md-3">
                  <div class="ingredient">
                      <label class="calculator-text">Hops</label>
                      <br>
                      <div ng-repeat="hop in hopsarr">
                        <input class="form-control bc-input-small" ng-model="hop.size" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
                        <span>g</span>
                        <select class="form-control bc-input-small" ng-model="hop.hop">
                          {{#each hops}}
                            <option value="{{data}}">{{name}}</option>
                          {{/each}}
                        </select>
                        <i ng-click="deleteHop($index);" class="btn delete-button fa fa-times"></i>
                        <br>
                        <input class="form-control bc-input-small" ng-model="hop.time" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
                        <span>minutes</span>
                      </div>
                      <br>
                      <button class="btn button-default" type="button" ng-click="addHop();">ADD</button>
                      <i class="info fa fa-2x fa-info-circle"></i>
                      <span class="equation-text">+</span>
                  </div>
              </div>
              <div class="ingredient-container form-group col-md-3">
                  <div class="ingredient">
                      <label class="calculator-text">Yeast</label>
                      <select class="form-control" ng-model="yeast" name="yeast">
                        {{#each yeasts}}
                          <option value="{{data}}">{{name}}</option>
                        {{/each}}
                      </select>
                      <i class="info fa fa-2x fa-info-circle"></i>
                      <span class="equation-text">=</span>
                  </div>
              </div>
              <div class="ingredient-container form-group col-md-3">
                  <div class="ingredient results">
                      <div class="results-details">
                          <span>OG: </span>
                          <span>{[{og}]}</span>
                          <i class="check fa fa-check" ng-show="oglow <= og && og <= oghi"></i>
                          <i class="cross fa fa-times" ng-show="oglow > og || og > oghi"></i>
                          <br>
                          <span>FG: </span>
                          <span>{[{fg}]}</span>
                          <i class="check fa fa-check" ng-show="fglow <= fg && fg <= fghi"></i>
                          <i class="cross fa fa-times" ng-show="fglow > fg || fg > fghi"></i>
                          <br>
                          <span>ABV: </span>
                          <span>{[{abv}]}</span>
                          <i class="check fa fa-check" ng-show="abvlow <= abv && abv <= abvhi"></i>
                          <i class="cross fa fa-times" ng-show="abvlow > abv || abv > abvhi"></i>
                          <br>
                          <span>IBU: </span>
                          <span>{[{ibu}]}</span>
                          <i class="check fa fa-check" ng-show="ibulow <= ibu && ibu <= ibuhi"></i>
                          <i class="cross fa fa-times" ng-show="ibulow > ibu || ibu > ibuhi"></i>
                          <br>
                          <span>SRM: </span>
                          <span>{[{srm}]}</span>
                          <i class="check fa fa-check" ng-show="srmlow <= srm && srm <= srmhi"></i>
                          <i class="cross fa fa-times" ng-show="srmlow > srm || srm > srmhi"></i>
                      </div>
                  <!--
                      <label for="og">OG: {[{oglow}]}-{[{oghi}]}</label>
                      <input class="form-control bc-input-small" ng-model="og" id="og" readonly="readonly">
                      <br>
                      <label>FG: {[{fglow}]}-{[{fghi}]}</label>
                      <input class="form-control bc-input-small" ng-model="fg" id="fg" readonly="readonly">
                      <br>
                      <label>ABV: {[{abvlow}]}-{[{abvhi}]}</label>
                      <input class="form-control bc-input-small" ng-model="abv" id="abv" readonly="readonly">
                      <br>
                      <label>IBU: {[{ibulow}]}-{[{ibuhi}]}</label>
                      <input class="form-control bc-input-small" ng-model="ibu" id="ibu" readonly="readonly">
                      <br>
                      <label>SRM: {[{srmlow}]}-{[{srmhi}]}</label>
                      <span style="width: 5%; height: 21px; vertical-align: middle; display: inline-block; background: {[{srmColor()}]};"></span>
                      <input class="form-control bc-input-small" ng-model="srm" id="srm" readonly="readonly">
                  -->
                  </div>
              </div>
          </div>
      </div>

      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
      <script src="src/trewbrews.js"></script>
      <script src="src/srm.js"></script>
      <script src="src/gravity.js"></script>
      <script src="src/ibu.js"></script>
      <script src="src/utils.js"></script>
  <body>
</html>
