<html ng-app="trewbrews">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="src/trewbrews.js"></script>
    <script src="src/srm.js"></script>
    <script src="src/gravity.js"></script>
    <script src="src/ibu.js"></script>
    <script src="src/utils.js"></script>
  </head>

  <body>
    <div ng-controller="calculator">
    <!--
      <label>Equipment</label>
      <select ng-model="equipment">
        {{#each equipments}}
          <option value="{{data}}">{{name}}</option>
        {{/each}}
      </select>
      <hr>
    -->
      <label>Boil size</label>
      <input ng-model="boilsize" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/" name="boilsize"/> liters
      <br>

      <label>Batch size</label>
      <input ng-model="size" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/" name="size"/> liters
      <hr>

      <label>Boil time</label>
      <input ng-model="time" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/" name="time"/> minutes
      <hr>

      <label>Brewhouse efficiency</label>
      <input ng-model="efficiency" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/" name="efficiency"/> %
      <hr>

      <label>Fermentables</label>
      <br>
      <button ng-click="addFermentable();">Add fermentable</button>
      <br>
      <div ng-repeat="fermentable in fermentablesarr">
        <select ng-model="fermentable.fermentable">
          {{#each fermentables}}
            <option value="{{data}}">{{name}}</option>
          {{/each}}
        </select>
        <input ng-model="fermentable.size" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/"> kg
        <a href="javascript:;" ng-click="deleteFermentable($index);">Delete</a>
        <br>
      </div>
      <hr>

      <label>Hops</label>
      <br>
      <button ng-click="addHop();">Add hop</button>
      <br>
      <div ng-repeat="hop in hopsarr">
        <select ng-model="hop.hop">
          {{#each hops}}
            <option value="{{data}}">{{name}}</option>
          {{/each}}
        </select>
        <input ng-model="hop.size" type="text" ng-pattern="/^[0-9]+(\.[0-9]+)?$/"> g
        <a href="javascript:;" ng-click="deleteHop($index);">Delete</a>
        <br>
      </div>
      <hr>


      <label>Yeast</label>
      <select ng-model="yeast" name="yeast">
        {{#each yeasts}}
          <option value="{{data}}">{{name}}</option>
        {{/each}}
      </select>
      <hr>

      <label>Original gravity: <label>
      <input ng-model="og" id="og" readonly="readonly">
      <br>
      <label>Final gravity: <label>
      <input ng-model="fg" id="fg" readonly="readonly">
      <br>
      <label>ABV: <label>
      <input ng-model="abv" id="abv" readonly="readonly">
      <br>
      <label>IBU: <label>
      <input ng-model="ibu" id="ibu" readonly="readonly">
      <br>
      <label>SRM: <label>
      <input ng-model="srm" id="srm" readonly="readonly">
      <span style="vertical-align: bottom; width: 60px; height: 21px; display: inline-block; background: {[{srmColor()}]};"></span>
      <br>
  </body>
</html>
